@{
    ViewData["Title"] = "Photo Upload";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using (Html.BeginForm("FileUpload", "Azure", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" class="form-control" />
    <input type="submit" name="Submit" id="btnSubmit" value="Upload Files" />
}